body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  font-weight: bold;
  color: var(--font-light);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

.nav-active {
  transition: all 0.7s ease-in;
  transform: rotateY(360deg);
}
